@section Scripts {
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/Scripts/index.js")
}

<div class="row">
    <div class="col-md-12">
        <label for="lastUpdate">Last update:</label>
        <input type="text" id="lastUpdate" style="width:100%;" />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Starting date</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <tr>
                    <td>Loading...</td>
                    <td><img src="https://politicalwire.com/wp-content/plugins/wp-favorite-posts/img/loading.gif" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
